<%- include('layout/header.ejs')%>

<a href="/create">Add</a>
<ul>
    <% posts.forEach((post)=>{ %>
    <li>
        <b><%= post.title %></b>
        <br>
        <%= post.body %>
    </li>
    <br>
    <br>
    <% }); %>
</ul>

<%- include('layout/footer.ejs')%>